{% extends '::base.html.twig' %}
{% block content %}
    <div class="row">
      <div class="span4">
          <h1>All Schools</h1>
      </div>
      <div class="span8">
          <ul>
              {% for school in schools %}
                  <li><a href='school/{{ school.name }}'>{{ school.name }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>
{% endblock %}